<section class="bg-gray-100 font-sans ">
 
    
    <!-- Hero section -->
    <header class="bg-sky-500 py-24 ">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="text-center">
                <h1 class="text-4xl font-extrabold text-white sm:text-5xl md:text-6xl">Politeknik Penerbangan Makassar</h1>
                <p class="mt-4 text-xl text-gray-300">Politeknik Penerbangan Makassar adalah pendidikan tinggi di bawah Kementerian Perhubungan Indonesia, dengan tugas pokok melaksanakan pendidikan profesional program diploma bidang keahlian teknik dan keselamatan penerbangan yang terbuka bagi umum.</p>
            </div>
        </div>
    </header>
    
    <!-- Vision and Mission section -->
    <section class="bg-white py-16">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="text-center">
                <h2 class="text-3xl font-extrabold text-gray-800">VISI</h2>
                <p class="mt-4 text-xl text-gray-600">Menjadi politeknik yang unggul, berkarakter dan akuntabel dalam menghasilkan sumber daya manusia penerbangan yang kompeten, profesional dan berdaya saing global.</p>
            </div>
            <div class="mt-12">
                <h2 class="text-3xl font-extrabold text-gray-800 text-center">MISI</h2>
                <ul class="mt-4 max-w-2xl mx-auto text-xl text-gray-600 list-disc list-inside">
                    <li>Menyelenggarakan pendidikan untuk Meningkatkan SDM penerbangan sesuai standar kompetensi yang dibutuhkan industri dalam pelaksanaan tugas operasional sektor transportasi udara.</li>
                    <li>Menyelenggarakan pengelolaan pendidikan yang profesional dan akuntabel.</li>
                    <li>Meningkatkan mutu pendidikan dan pelatihan guna mencapai kualitas lulusan yang berdaya saing global.</li>
                    <li>Menghasilkan lulusan yang prima dan beretika sesuai dengan iklim akademik yang humanis dan berwawasan lingkungan.</li>
                    <li>Menjalin kerjasama dengan lembaga pendidikan dan instansi terkait guna meningkatkan kualitas lulusan.</li>
                    <li>Mengoptimalkan sarana dan prasarana dalam rangka peningkatan kualitas layanan Diklat.</li>
                    <li>Melaksanakan penelitian dan menyebarluaskan hasilnya.</li>
                    <li>Melaksanakan kegiatan pengabdian kepada masyarakat sesuai kompetensi untuk mendukung peningkatan mutu pendidikan.</li>
                </ul>
            </div>
        </div>
    </section>
    
    <!-- Programs section -->
    <section class="bg-gray-100 py-16">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="text-center">
                <h2 class="text-3xl font-extrabold text-gray-800">PROGRAM STUDI</h2>
                <ul class="mt-4 max-w-2xl mx-auto text-xl text-gray-600 list-disc list-inside">
                    <li>Teknik Navigasi Udara/Teknologi Navigasi Udara</li>
                    <li>Teknik Listrik Bandara/Teknologi Bandar Udara</li>
                    <li>Teknik Pesawat Udara/Teknologi Pemeliharaan Pesawat Udara</li>
                    <li>Lalu Lintas Udara/Manajemen Lalu Lintas Udara</li>
                </ul>
            </div>
        </div>
    </section>
    
    <!-- Footer -->
    <footer class="bg-sky-500 text-gray-300 py-12">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between items-center">
                <div>
                    <p class="text-sm">&copy; 2024 Politeknik Penerbangan Makassar. All rights reserved.</p>
                </div>
                <!-- <div>
                    <a href="#" class="text-gray-300 hover:text-white ml-4">Tentang Kami</a>
                    <span class="text-gray-400 mx-2">•</span>
                    <a href="#" class="text-gray-300 hover:text-white">Kontak</a>
                </div> -->
            </div>
        </div>
    </footer>
    </section>