<div class="fixed inset-0 z-30 flex items-center justify-center overflow-auto bg-black bg-opacity-50"
     x-show="showModal"
     x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0"
     x-transition:enter-end="opacity-100" x-transition:leave="ease-in duration-200"
     x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
    <!-- Modal inner -->
    <div class="max-w-7xl w-full max-h-full px-6 py-6 mx-auto text-left bg-white rounded shadow-lg overflow-y-auto"
         @click.away="showModal = false" x-transition:enter="ease-out duration-300"
         x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100"
         x-transition:leave="ease-in duration-200" x-transition:leave-start="opacity-100 scale-100"
         x-transition:leave-end="opacity-0 scale-90">
        <!-- Title / Close -->
        <div class="flex items-center justify-between">
            <h5 class="mr-3 text-black font-bold underline" x-html="modalTitle">Title</h5>
            <button type="button" class="z-50 cursor-pointer" @click="showModal = false">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                </svg>
            </button>
        </div>
        <!-- Content -->
        <div class="pt-4">
            <div x-html="modalContent"></div>
        </div>
    </div>
</div>
